#navbar-body{
    background-color: rgb(236, 69, 9) !important;
}
html{
    background-color: grey;
}
.content-card{
    background-color: lightgrey;
}

/*Tailwind CSS*/
.physicalStats{

}

canvas{
    width: 10em; !important;
    height: 10em; !important;
}